.circle, .line {
  display: inline-block;
  margin-bottom: -2px;
}

/* start all the circles */

.circle {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  margin-left: 5px;
}

#UnAvailable {
  background: #9300ff;
  border-color: #750099;
}


#Available {
  background: #FE0000;
  border-color: #800000;
}

#Purchased {
  background: #007F0E;
  border-color: #073B0B;
}

#PurchasedOnScreen {
  background: #00CC84;
  border-color: #073B0B;
}

#Off {
  background: #FE0000;
  border-color: #800000;
}

#On {
  background: #007F0E;
  border-color: #073B0B;
}

#VanishingPoint {
  background: gray;
  border-color: darkgray;
}

#Comment {
  background: white;
  width: 6px;
  height: 6px;
  border-width: 4px;
  border-color: gold;
}
#Comment2 {
  background: white;
  width: 6px;
  height: 6px;
  border-width: 4px;
  border-color: orange;
}

/* circles are done */


/* start all the lines */

.line {
  width: 40px;
  height: 3px;
  border: white solid 3px;
}

#enabled {
  background-color: #0125FF;
}

#disabled {
  background-color: #3CC2E0;
}

#dual {
  background:repeating-linear-gradient(90deg, gray 0%, gray 24%, white 25%, white 32%, gray 33%, gray 40%, white 40%, white 48%);
}

#arrow {
  background-color: gray;
  flex-grow: 1;
  position: relative;
  width: 30px;
  border-top-width: 9px;
  border-bottom-width: 7px;
  border-right-width: 10px;
}

#arrow:after {
  position: absolute;
  content: '';
  bottom: -5px;
  right: -7;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid gray;
}

/* lines are done */
